#bootstrap-overrides { font-family: 'Lato', sans-serif; }

#bootstrap-overrides .header--position { position: absolute; left: 5%; bottom: 15%; }

.jumbotron-fluid { background: url("../images/header.jpg") no-repeat center; background-size: cover; height: 100vh; position: relative; }

.main__slogan { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.main__header { letter-spacing: 0.2em; margin-bottom: 1rem; }

.ellipse { margin-bottom: 4.0em; }

.main--roller { position: absolute; bottom: 5%; left: 49%; }

.content--padding { padding: 5rem 1rem; }

fieldset > legend { width: 40%; }

.header--spacing { letter-spacing: 0.2rem; }

.projects__text--interline { line-height: 1.8rem; }

#services { background: url("../images/service.jpg") no-repeat center; background-size: cover; min-height: 448px; }

.gallery__first { background: url("../images/gallery-1.jpg") no-repeat center; background-size: cover; min-height: 240px; }

.gallery__second { background: url("../images/gallery-2.jpg") no-repeat center; background-size: cover; min-height: 240px; }

.gallery__third { background: url("../images/gallery-3.jpg") no-repeat center; background-size: cover; min-height: 240px; }

.gallery__fourth { background: url("../images/gallery-4.jpg") no-repeat center; background-size: cover; min-height: 240px; }

.gallery__fifth { background: url("../images/gallery-5.jpg") no-repeat center; background-size: cover; min-height: 240px; }

.gallery__sixth { background: url("../images/gallery-6.jpg") no-repeat center; background-size: cover; min-height: 240px; }

.gallery__row { -ms-flex-wrap: nowrap; flex-wrap: nowrap; overflow: hidden; position: relative; }

.footer__ellipse { bottom: 45%; left: 30%; }
