body { font-family: 'Lato', sans-serif; }

.jumbotron-fluid { background: url("../images/header.jpg") no-repeat center; background-size: cover; height: 100vh; position: relative; }

.main__slogan { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.main__header { letter-spacing: 0.2em; margin-bottom: 1rem; }

.ellipse { margin-bottom: 4.0em; }

.roller { position: absolute; bottom: 5%; left: 49%; }

.content--padding { padding: 5rem 1rem; }

fieldset > legend { width: 40%; }

.contain { font-size: 1rem; padding: 15px 15px; }

#services { background: url("../images/service.jpg") no-repeat center; background-size: cover; min-height: 448px; }
